<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sentry">
  <!-- This model is intentionally mesh-free: it is the authoritative TF model
       for the real robot. Visual meshes belong to the simulation package. -->
  <xacro:arg name="chassis_height" default="0.077"/>
  <xacro:arg name="gimbal_yaw_height" default="0.100"/>
  <xacro:arg name="gimbal_pitch_height" default="0.155"/>
  <xacro:arg name="lidar_x" default="0.150"/>
  <xacro:arg name="lidar_y" default="0.0"/>
  <xacro:arg name="lidar_z" default="0.400"/>
  <xacro:arg name="lidar_roll" default="-3.141592653589793"/>

  <link name="base_footprint"/>
  <link name="chassis"/>
  <link name="gimbal_yaw_odom"/>
  <link name="gimbal_pitch_odom"/>
  <link name="gimbal_yaw"/>
  <link name="gimbal_pitch"/>
  <link name="front_mid360"/>
  <link name="front_camera"/>

  <joint name="base_to_chassis" type="fixed">
    <parent link="base_footprint"/><child link="chassis"/>
    <origin xyz="0 0 $(arg chassis_height)" rpy="0 0 0"/>
  </joint>
  <joint name="gimbal_yaw_odom_joint" type="fixed">
    <parent link="chassis"/><child link="gimbal_yaw_odom"/>
    <origin xyz="0 0 $(arg gimbal_yaw_height)" rpy="0 0 0"/>
  </joint>
  <joint name="gimbal_pitch_odom_joint" type="fixed">
    <parent link="gimbal_yaw_odom"/><child link="gimbal_pitch_odom"/>
    <origin xyz="0 0 $(arg gimbal_pitch_height)" rpy="0 0 0"/>
  </joint>
  <joint name="gimbal_yaw_joint" type="fixed">
    <parent link="gimbal_pitch_odom"/><child link="gimbal_yaw"/>
    <origin xyz="0 0 -$(arg gimbal_pitch_height)" rpy="0 0 0"/>
  </joint>
  <joint name="gimbal_pitch_joint" type="fixed">
    <parent link="gimbal_yaw"/><child link="gimbal_pitch"/>
    <origin xyz="0 0 $(arg gimbal_pitch_height)" rpy="0 0 0"/>
  </joint>
  <joint name="front_livox_joint" type="fixed">
    <parent link="gimbal_yaw"/><child link="front_mid360"/>
    <origin xyz="$(arg lidar_x) $(arg lidar_y) $(arg lidar_z)" rpy="$(arg lidar_roll) 0 0"/>
  </joint>
  <joint name="front_camera_joint" type="fixed">
    <parent link="gimbal_pitch"/><child link="front_camera"/>
    <origin xyz="0.100 0 0.045" rpy="0 0 0"/>
  </joint>
</robot>
